*{.azeret-mono-<normal>
   font-family: "Azeret Mono", monospace;
   font-optical-sizing: auto;
   font-weight: ;
   font-style: normal;}

.main-banner{
display: flex;
justify-content: space-around;
width: 1440px;
height: 652px;
border: none;
background-image: url(B10A1-Challenge-Begins/assets/Hero-bg.png);
background-repeat: no-repeat;
background-size: cover;

background-position: center;

}
.banner-content{
width: 998px;
height: 581px;
border: none;
text-align: center;

}
.btn1{
margin-top: 20px;
background-color: #0D1321;
color: #FFFFFF;
padding: 5px;
}
